<!-- Header -->

<div class="header_down">
    <div class="wrap">

        <h1><span class="pipe">|</span>Shape the world we live in</h1>
        <ul class="list-inline">
            <li>
                <a href="https://github.com/609520262/Entropy-theory" class="btn-social btn-outline"><i class="fa fa-github"></i></a>
            </li>
            <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-gitlab"></i></a>
            </li>
            <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-bitbucket"></i></a>
            </li>
        </ul>




    </div>

</div>


<div class="slider1">
    <div class="item">
        <img src="/assets/backgroundsw.jpg" alt="">
        <div class="black1">

            <h4>故障诊断</h4>
            <i></i>
            <p>故障诊断方法可分为三类：基于信号的处理方法、基于知识的故障诊断方法以及基于模型的故障诊断方法</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
				</svg>
            <a href="#">查看更多</a>
        </div>
    </div>
    <div class="item">
        <img src="/assets/highlight.png" alt="">
        <div class="black1">

            <h4>人工智能</h4>
            <i></i>
            <p>它是研究、开发用于模拟、延伸和扩展人的智能的理论、方法、技术及应用系统的一门新的技术科学。</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
				</svg>
            <a href="#">查看更多</a>
        </div>
    </div>
    <div class="item">
        <img src="/assets/quadcopter.png" alt="">
        <div class="black1">

            <h4>无人系统</h4>
            <i></i>
            <p>智能无人集群系统指若干无人系统根据任务分工，在一定时间、空间内协同完成复杂任务的整体系统</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
				</svg>
            <a href="#">查看更多</a>
        </div>
    </div>
</div>




<section class="jekyll">
    <div class="introduction">
        <div class="ab_center">
            <div class="title">
                <h2>关于我们</h2>

                <b></b>
            </div>
            <p>研究兴趣（不局限于）： 旋转设备动力学建模和振动控制； 信号处理与故障诊断； 设备健康监测与模式识别； 可靠性建模及分析等。针对冲击振动响应信号的故障表征、优化检测以及诊断等科学问题开展深入研究，共发表论文70余篇，其中第一作者\通讯作者发表SCI论文48篇，论文最高影响因子 17.564；获得 Chinese Journal of Aeronautics（中科院一区 TOP 期刊）年度高影响力论文、西安市自然科学优秀学术论文“二等奖”、 2020 年 PHM“最佳论文奖”
                和 SCI 期刊 JSSE年度最佳论文等。</p>
            <div class="ab_list">
                <dl>
                    <dt>100<span>万家</span></dt>
                    <dd>提供解决方案及服务</dd>
                </dl>
                <dl>
                    <dt>100<span>万家</span></dt>
                    <dd>提供解决方案及服务</dd>
                </dl>
                <dl>
                    <dt>100<span>万家</span></dt>
                    <dd>提供解决方案及服务</dd>
                </dl>
                <dl>
                    <dt>100<span>万家</span></dt>
                    <dd>提供解决方案及服务</dd>
                </dl>

            </div>
            <a href="#" class="btn">Learn More</a>
        </div>


        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
						<defs>
							<path id="gentle-wave"
								d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
						</defs>
						<g class="parallax">
							<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
							<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
							<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
							<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
						</g>
					</svg>
        </div>

    </div>


    <div class="pro">
        <div class="title">
            <h2>熵值理论</h2>
            <p>描述信息源各可能事件发生的不确定性</p>
            <b></b>
        </div>
        <ul class="pro_con">
            <li>
                <img src="/assets/entropy1.jpg" alt="" </img>
                <div class="black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
								<path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z"/>
							</svg>
                    <i></i>
                    <h4>转子系统</h4>
                    <p>转子的临界转速的大小取决于其制造材料、结构形式、几何尺寸、支承特点等因素。</p>

                </div>
            </li>
            <li>
                <img src="/assets/2023-03-16 184811.jpg" alt="" </img>
                <div class="black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-boombox" viewBox="0 0 16 16">
								<path d="M2.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm2 0a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm7.5-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm-7-1a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Zm5.5 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
								<path d="M11.5 13a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Zm0-1a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3ZM5 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
								<path d="M7 10.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm-1 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"/>
								<path d="M14 0a.5.5 0 0 1 .5.5V2h.5a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h12.5V.5A.5.5 0 0 1 14 0ZM1 3v3h14V3H1Zm14 4H1v7h14V7Z"/>
							</svg>
                    <i></i>
                    <h4>转子故障试验台</h4>
                    <p>提供的各种缺陷电机和机械常见故障套件如轴承，行星齿轮箱，动平衡校正模组，摩擦套件</p>
                    <a href="#">Learn More</a>
                </div>
            </li>
            <li>
                <img src="/assets/2023-03-16 185012.jpg" alt="" </img>
                <div class="black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
								<path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z"/>
							</svg>
                    <i></i>
                    <h4>符号化编码</h4>
                    <p>主要利用源的统计特性来解决源的相关性，去除源的冗余信息，从而压缩源输出的信息速率，提高系统的有效性</p>
                    <a href="#">Learn More</a>
                </div>
            </li>
            <ul>
    </div>
    <div class="pro">
        <div class="title">
            <h2>转子故障试验台</h2>
            <p>实验室自主搭建的转子实验系统</p>
            <b></b>
        </div>
        <ul class="pro_con">
            <li>
                <img src="/assets/swj.png" alt="" </img>
                <div class="black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
								<path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z"/>
							</svg>
                    <i></i>
                    <h4>上位机开发</h4>
                    <p>软件主要分为设备管理，设备监控，数据分析， 故障制停，PHM，以及算法验证6部分
                    </p>
                    <a href="#">Learn More</a>
                </div>
            </li>
            <li>
                <img src="/assets/3d.png" alt="" </img>
                <div class="black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-boombox" viewBox="0 0 16 16">
								<path d="M2.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm2 0a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm7.5-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm-7-1a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Zm5.5 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
								<path d="M11.5 13a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Zm0-1a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3ZM5 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
								<path d="M7 10.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm-1 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"/>
								<path d="M14 0a.5.5 0 0 1 .5.5V2h.5a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h12.5V.5A.5.5 0 0 1 14 0ZM1 3v3h14V3H1Zm14 4H1v7h14V7Z"/>
							</svg>
                    <i></i>
                    <h4>实验台总体设计
                    </h4>
                    <p>基于小型双转子模拟实验台是按照模块化思想开发的专用设备</p>
                    <a href="#">Learn More</a>
                </div>
            </li>
            <li>
                <img src="/assets/sj.png" alt="" </img>
                <div class="black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
								<path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z"/>
							</svg>
                    <i></i>
                    <h4>数据采集</h4>
                    <p>分析功能为时域分析，频谱分析，包络谱提取，功率谱分析</p>
                    <a href="#">Learn More</a>
                </div>
            </li>
            <ul>
    </div>

    <div class="news">
        <div class="title">
            <h2>新闻动态</h2>
            <p>关于实验室的近期活动</p>
            <b></b>
        </div>
        <div class="news_con">
            <div class="left_news">
                <img src="/assets/微信图片_20230308184719.jpg" alt="" </img>
                <div id="contrast">
                    <a class="slick-prev"></a>
                    <a class="slick-next"></a>
                    <p></p>
                </div>
                <dl>
                    <dt>
								<p>这是我们的合影</p>
								<span>2022-12-21</span>
							</dt>
                    <dd>当天课题组成员与研三即将毕业的六名同学拍了合影，并于当天中午举行了聚餐活动，欢送即将毕业的师兄师姐</dd>
                </dl>
            </div>

            <ul class="right_news">
                <li>
                    <a href="#">
                        <div class="time">
                            03-29<span>2023</span>
                        </div>
                        <dl>
                            <dt>线下组会</dt>
                            <dd>刘涛老师给课题组同学进行了关于学习方面的讲座，传授了大家如何领略知识创造的过程，分享给了大家一个朴素的道理：流水不争先，争的是滔滔不绝。</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="time">
                            03-11<span>2023</span>
                        </div>
                        <dl>
                            <dt>线下组会</dt>
                            <dd>李宏伟同学汇报了利用人工智能设计超材料的最新进展</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="time">
                            03-08<span>2023</span>
                        </div>
                        <dl>
                            <dt>毕业聚餐</dt>
                            <dd>当天课题组成员与研三即将毕业的六名同学拍了合影，并于当天中午举行了聚餐活动，欢送即将毕业的师兄师姐</dd>
                        </dl>
                    </a>
                </li>
            </ul>
        </div>
        <a href="#" class="btn">Learn More</a>

    </div>
    <script>
        var oBtnPre = document.querySelector(".slick-prev");
        var oBtnNext = document.querySelector(".slick-next");
        var oPic = document.querySelector(".left_news img");
        var imgList = ["/assets/微信图片_20230308184719.jpg", "/assets/home-office.jpg", "/assets/微信图片_20230308184719.jpg", "/assets/微信图片_20230313160603.jpg"];

        var imgCurrent = 0;
        oBtnPre.onclick = function() {
            if (imgCurrent == 0) {
                imgCurrent = 3;
            }
            imgCurrent--;
            oPic.src = imgList[imgCurrent]
        }
        oBtnNext.onclick = function() {
            if (imgCurrent == 3) {
                imgCurrent = 0;
            }
            imgCurrent++;
            oPic.src = imgList[imgCurrent]
        }
    </script>

    <!-- <div class="container main">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="black">Recent Posts</h2>
					</div>
					<div class="col-lg-12">
						<div class="recent-blog">
						<% if (site.posts.length){ %>
						  <div class="widget-wrap">
							<div class="widget">
							  <div class="recent-homepage">
								<% site.posts.sort('date', -1).limit(4).each(function(post){ %>
								  <div class="col-md-3">
									<a class="recent" href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
									<div class="post-excerpt-front"><%- post.excerpt %></div>
									<a class="readmore" href="<%- url_for(post.path) %>"><%= theme.excerpt_link %></a> <i class="fa fa-angle-right" aria-hidden="true"></i>
								  </div>
								<% }) %>	
							  </div>
							</div>
						  </div>
						<% } %>
						</div>
					</div>
					<div class="col-lg-12 text-center" style="margin-top: 20px;">
						<a class="btn btn-default readall" href="/categories/blog">Read all blog</a>
					</div>
				</div>
				<hr>
			</div> -->
</section>